[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tkcalendar = "*"
pyodbc = "*"
pandas = "*"
openpyxl = "*"
loguru = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.12"
